
<div class="header" style="width: 100%;margin:0 auto;background:url('/assets/NoInviteDayParty.jpg') no-repeat top center;background-size:100% 100%;position:absolute;height: 100%">
<!--<h2>Sign up</h2>-->

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html=>{:style=> "width:500px;margin-left:460px;margin-top:200px"}) do |f| %>
  <%= devise_error_messages! %>

  <div><%#= f.label :email %><br />
  <%= f.email_field :email, autofocus: true,:value=>params[:email],:style=>"opacity:0.8;height:30px",:placeholder=>"Email" %></div>

  <div><%#= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off",:style=>"opacity:0.8;height:30px",:placeholder=>"Password" %></div>

  <div><%#= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off",:style=>"opacity:0.8;height:30px",:placeholder=>"Password Confirmation" %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%#= render "devise/shared/links" %>

</div>
