<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6 <%= @bodyId %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7 <%= @bodyId %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8 <%= @bodyId %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9 <%= @bodyId %>"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="<%= @bodyId %>"> <!--<![endif]-->
<head>
        <title>Harry&#8217;s &ndash; Tell Friends, Shave for Free</title>
        <link rel="icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">
        <link rel="shortcut icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">

        <meta property="og:title" content="Harry’s is coming!"/>
        <meta property="og:description" content="Shaving is evolving. Didn’t want to leave you all behind. Check out Harry’s here."/>
        <meta property="og:image" content="<%= asset_path("refer/truman.png") %>"/>
        <meta property="og:url" content="<%= root_url %>"/>
        <% if @is_mobile %>
            <% if @bodyId == 'home' %>
                <meta name="viewport" content="width=1600" />
            <% else %>
                <meta name="viewport" content="width=1120" />
            <% end %>
        <% end %>
        <%= stylesheet_link_tag "core.css", :media => "all" %>
        <%= stylesheet_link_tag "bootstrap.css", :media => "all" %>
        <%= csrf_meta_tags %>
</head>
<body id="<%= @bodyId %>">
<div id="user_nav">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
              <li><a>Signed in as <%= current_user.email %>. Not you?</a><li>
              <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %><li>
          <% else %>
              <!--<li><%#= link_to "Sign up", new_user_registration_path %></li>-->
              <li><%= link_to "Sign in", new_user_session_path %></li>
          <%end%>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</div>
<%= yield %>


</body>
</html>
